<div id="hero-detail-container" *ngIf="(state$ | async) as state">
    <a [routerLink]="" (click)="goToHome()"><i class="material-icons">home</i>HOME</a>
    <div class="hero-detail-image-container">
        <img id="hero-detail-image" src="{{state.currentHero._picture}}"/>
        <div class="hero-detail-circle">{{state.currentHero._id+cardinal}}</div>
    </div>
    <input id="hero-detail-nickname" type="text" value="{{state.currentHero._nickname}}"/>
    <div class="hero-detail-input-container">
        <label for="hero-detail-name">Name:</label>
        <input id="hero-detail-name" type="text" value="{{state.currentHero._name}}"/>
    </div>
    <div class="hero-detail-input-container">
        <label for="hero-detail-height">Height:</label>
        <input id="hero-detail-height" type="text" value="{{state.currentHero._height}}"/>
    </div>
</div>